@{
    ViewData["Title"] = "Subir Imagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BusinessEntity.FormModels.FormElementos

<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">@ViewData["Title"]</h5>

                    </div>
                    <div class="card-body">
                        <input type="hidden" id="hiddenUploadFile" value="@Url.Action("CargarImagenJSON","Elementos", new {Area ="Configuracion"})" />
                        <input type="hidden" id="hiddenEditarElemento" value="@Url.Action("Editar", "Elementos", new { Area = "Configuracion" })" />

                        <input type="hidden" id="hiddenAllowedFileExtension" value="@Model.uploadImageConfig.img_JsonAllowedFileExtensions" />
                        <input type="hidden" id="hiddenMaxFileSize" value="@Model.uploadImageConfig.img_MaxFileSize" />
                        <input type="hidden" id="hiddenMaxFileCount" value="@Model.uploadImageConfig.img_MaxFileCount" />
                        @Html.HiddenFor(m => m.id_tipo_elemento)

                        @Html.Partial("_Mensaje")

                        <!-- CARGADO -->
                        <form asp-action="agregar" asp-controller="documentos" method="post" class="form-validate">
                            <!--FORMULARIO -->
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label-sm font-weight-semibold">ID:</label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.id_elemento, new { @class = "form-control form-control-sm text-left text-uppercase row_readonly", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label-sm font-weight-semibold">Nombre Elemento:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.nombre_elemento, new { @class = "form-control form-control-sm text-left text-uppercase row_readonly", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label-sm font-weight-semibold">Observación:</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(m => m.observacion_imagen_elemento, new { @rows = "2", @cols = "5", @class = "form-control form-control-sm text-uppercase", @placeholder = "Ingrese sus comentarios acá...", @MaxLength = "1000"  })
                                    <p class=" text-muted text-right">(máximo 1000 carácteres)</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label-sm font-weight-semibold">Seleccione <span class="text-nowrap">Archivo :</span></label>
                                <div id="group_adjunto" class="col-md-8">
                                    <input type="file" id="file_mot_adj" name="file_mot_adj" value="" class="file-input form-control-sm" multiple="multiple" data-fouc>
                                    <span class="form-text text-muted">Tamaño máximo de subida es de @Model.uploadImageConfig.img_MaxFileSizeIso</span>
                                    <span class="form-text text-muted">
                                        En este módulo, solo se permiten las extensiones

                                        @if (Model.uploadImageConfig.img_AllowedFileExtensions != null)
                                        {
                                            foreach (var item in Model.uploadImageConfig.img_AllowedFileExtensions)
                                            {
                                                <code>@item.Value</code>
                                            }
                                        }
                                    </span>
                                </div>
                            </div>

                            <div class="text-right">
                                <button type="button" class="btn btn-light mr-3" onclick="fnc_volver_editar();"><i class="icon-previous2 mr-2"></i> Volver</i></button>
                                <button type="submit" class="btn btn-primary" style="background-color: #064A98">Guardar <i class="icon-floppy-disk ml-1"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .datatable-header {
        padding: 0;
    }

    .file-preview-thumbnails {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        overflow: auto;
    }
</style>

<script src="~/Content/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="~/Content/global_assets/js/plugins/forms/validation/validate.min.js"></script>
<script src="~/Content/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
<script src="~/Content/global_assets/js/plugins/uploaders/fileinput/locale/es.js"></script>
<script src="~/Content/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="~/Content/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>
<script src="~/Content/global_assets/js/pages/configuracion/elementos/imagen.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script> 