
@{
    ViewBag.Title = "Administración Integracion SIG-MOP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BusinessEntity.FormModels.FormIntegracionSIG

<div class="content-wrapper">
    <div class="content">

        @Html.Partial("_Mensaje")

        @*<input type="hidden" id="usuario_agregar" value="@Url.Action("Create","Usuario",null )" />
            <input type="hidden" id="usuario_eliminar" value="@Url.Action("Delete","Usuario",null )" />
            <input type="hidden" id="usuario_agregar" value="@Url.Action("Create", "Usuario",new {Area ="Configuracion" } )" />*@

        <div class="card mb-0">
            <div class="card-header header-elements-inline" style="border-bottom: 1px solid rgba(0, 0, 0, .125)">
                <h6 class="card-title">
                    <i class="icon-database mr-2"></i>Mantenedor Integración
                </h6>
            </div>

            <div class="card-body py-0">
                <div class="table-responsive">
                    <table class="table table-condensed font-size-xs">
                        <thead>
                            <tr>
                                <th>Id </th>
                                <th>Fecha Envio</th>
                                <th>Usuario</th>
                                <th>Endpoint</th>
                                <th>Estado</th>
                                @*        <th>Cargo</th>
                                    <th>Creado Por</th>
                                    <th>Creado El</th>
                                    <th>Modificado Por</th>
                                    <th>Modificado El</th>*@
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.listEnvioWS != null)
                            {
                                foreach (var user in Model.listEnvioWS)
                                {
                                    <tr>
                                        <td class="text-left text-uppercase">@user.integracion_log_id</td>
                                        <td class="text-left text-uppercase">@user.integracion_log_fecha</td>
                                        <td class="text-left text-uppercase">@user.integracion_log_usuario</td>
                                        <td class="text-left text-uppercase">@user.integracion_log_endpoint</td>
                                        @if (!@user.integracion_log_estado)
                                        {
                                            <td class="text-center text-danger-600 font-weight-bold">Error</td>
                                        }
                                        else
                                        {
                                            <td class="text-center text-success-600 font-weight-bold">OK</td>
                                        }

                                        @*<td class="text-left text-uppercase">@user.usr_mail</td>

                                            @if (!@user.usr_vig)
                                            {
                                                <td class="text-center"><span class="list-icons-item text-danger-600"><i class="icon-close2"></i></span></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"><span class="list-icons-item text-success-600"><i class="icon-checkmark-circle2"></i></span></td>
                                            }

                                            @if (@user.usr_blq)
                                            {
                                                <td class="text-center"><span class="list-icons-item text-danger-600"><i class="icon-lock2"></i></span></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"><span class="list-icons-item text-success-600"><i class="icon-unlocked2"></i></span></td>
                                            }

                                            <td class="text-left text-uppercase">@user.usr_car</td>
                                            <td class="text-left text-uppercase">@user.usr_cre_usr</td>
                                            <td class="text-center text-uppercase">@user.usr_cre_fec.ToString("dd-MM-yyyy HH:mm")</td>
                                            <td class="text-left text-uppercase">@user.usr_mod_usr</td>
                                            <td class="text-center text-uppercase">@user.usr_mod_fec.ToString("dd-MM-yyyy HH:mm")</td>
                                            <td class="text-center">
                                                @Html.ActionLink(" ", "Edit", "Usuario", new { strCurrentUser = @user.usr_lgn }, new { @class = "icon-pencil mr-1", @title = "Editar" })
                                                <a onclick="fncEliminarUsuario(' @user.usr_id','@user.usr_lgn'); return false;" href="#" class="icon-trash text-danger-600" title="Eliminar"></a>
                                            </td>*@
                                        <td class="text-center"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/notifications/bootbox.min.js"></script>
    <script src="~/Content/global_assets/js/pages/integracion/integracionsig/listar.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
}