
@{
    ViewBag.Title = "Editar perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model BusinessEntity.PerfilBusinessEntity.Perfil

<div class="content-wrapper">
    <div class="content">

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">@ViewData["Title"]</h5>
                    </div>
                    <div class="card-body">
                        @Html.Partial("_Mensaje")


                        <form id="form_perfil" class="form-validate" method="post" action="Edit">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.per_cod)
                            @Html.HiddenFor(m => m.menus)

                            <input type="hidden" id="per_cod" value="@Model.per_cod" />
                            <input type="hidden" id="listar_menu" value="@Url.Action("menu","Perfil", null)" />
                            <input type="hidden" id="hddn_Valid_Perfil" value="@Url.Action("JSON_ValidExists", "Perfil",new {Area ="Configuracion" } )" />

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Código Perfil</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.per_cod, new { @class = "form-control form-control-sm row_readonly", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Nombre Perfil</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.per_nom, new { @class = "form-control form-control-sm text-uppercase", @placeholder = "Nombre...", @autocomplete = "off", @required = "required", @maxlength = "50" })
                                    <input type="text" id="nro_menus" name="nro_menus" value="0" style="display: none;" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Descripción Perfil</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.per_des, new { @class = "form-control form-control-sm text-uppercase", @placeholder = "Descripción...", @autocomplete = "off", @maxlength = "200" })
                                </div>
                            </div>

                            <div class="text-right">
                                <a href="@Url.Action("Index", "Perfil", null)" class="btn btn-light mr-3"><i class="icon-backward2 mr-2"></i>Volver</a>
                                <button type="submit" class="btn btn-primary">Guardar <i class="icon-floppy-disk ml-1"></i></button>
                            </div>

                            <ul class="nav nav-tabs nav-tabs-highlight">
                                <li class="nav-item"><a href="#opciones-menu-tab1" class="nav-link active" data-toggle="tab"><i class="icon-tree7 mr-1"></i>Men&uacute;</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane  fade show  active" id="opciones-menu-tab1">
                                    <div class="tree well border-left-blue border-left-lg">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/global_assets/js/plugins/extensions/jquery_ui/core.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script src="~/Content/global_assets/js/pages/configuracion/perfil/editar.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
}