
@model BusinessEntity.PasswordBusinessEntity

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title> .:SIG - TEM | Restablecer contraseña :.</title>

    <!-- Global stylesheets -->
    <link href="~/Content/assets/css/css.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/loading.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Content/global_assets/js/main/jquery.min.js"></script>
    <script src="~/Content/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Content/global_assets/js/app.js"></script>
    <!-- /theme JS files -->

</head>

<body class="banner">
    <div id="cargando" class="page-loader" style="display:none;">
        <div class="loader"></div>
    </div>

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- HIDDEN FIELDS -->
                <input type="hidden" id="hddn_PasswordReset" name="hddn_PasswordReset" value="@Url.Action("JSON_ResetPassword", "Account", null)" />
                <input type="hidden" id="hddn_Login" name="hddn_Login" value="@Url.Action("Login", "Account", null)" />
                <input type="hidden" id="hddn_guid" name="hddn_guid" value="@Model.recovery_guid.ToString()" />
                <input type="hidden" id="hddn_user_lgn" name="hddn_user_lgn" value="@Model.recovery_user_lgn" />
 
                <!-- Password recovery form -->
                <form id="form_reset_password" method="post" class="form-validate-reset">
                    @Html.AntiForgeryToken()
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <i class="icon-key icon-2x border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">restablecer contraseña</h5>
                                <span class="d-block text-muted">Ahora puedes crear tu nueva contraseña.</span>
                            </div>

                            <div class="form-group">
                                <label>Contraseña (8-12 Caracteres):</label>
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    @Html.TextBoxFor(model => model.recovery_new_pswd, new { @class = "form-control form-control", @placeholder = "Contraseña...", @autocomplete = "off", @type = "password" })
                                    <div class="form-control-feedback" onclick="fnc_viewPassword();">
                                        <i id="txt_icon_pass" class="icon-eye-blocked text-muted"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Confirmar Contraseña (8-12 Caracteres):</label>
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    @Html.TextBoxFor(model => model.recovery_confirm_pswd, new { @class = "form-control form-control", @placeholder = "Confirmar Contraseña...", @autocomplete = "off", @type = "password" })
                                    <div class="form-control-feedback" onclick="fnc_viewConfirmPassword();">
                                        <i id="txt_icon_confirmpass" class="icon-eye-blocked text-muted"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer bg-white text-center align-items-center">
                            <button type="button" class="btn bg-primary btn-sm" onclick="fnc_SendReset();"><i class="icon-paperplane mr-2"></i> Enviar</button>
                        </div>
                    </div>
                </form>
                <!-- /password recovery form -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>
</html>

<script src="~/Content/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="~/Content/global_assets/js/plugins/forms/validation/validate.min.js"></script>
<script src="~/Content/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>
<script src="~/Content/global_assets/js/pages/password/reset.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>

